.neptune

*.pyc
*.ckpt
*.pt

execution_logs.log

# This ignores all the dataset / zipped dataset files
# Wag mo na galawin pls
pytorch_faster_rcnn_tutorial/data/heads/*.zip
pytorch_faster_rcnn_tutorial/data/heads/*/*
pytorch_faster_rcnn_tutorial/data/heads_*/*
pytorch_faster_rcnn_tutorial/data/heads/removing enforcers.py
pytorch_faster_rcnn_tutorial/data/heads/fix annotations.py
/predictions
/predictions_original
/predictions - Copy
pytorch_faster_rcnn_tutorial/data/heads/*.avi
