aiohttp
aiosignal
alabaster
albumentations==1.4.0
ansicon
anyio
app-model
appdirs
appnope
argon2-cffi-bindings
argon2-cffi
arrow
asttokens
async-timeout
attrdict
attrs
babel
backcall
beautifulsoup4
bleach
blessed
boto3
botocore
bravado-core
bravado
build
cachey
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
croniter
cycler
dask[array]
dateutils
debugpy
decorator
deepdiff
defusedxml
docstring-parser
docutils
exceptiongroup
executing
fastapi
fastjsonschema
filelock
fonttools
freetype-py
frozenlist
fsspec
fsspec[http]
future
gitdb
gitpython
h11
heapdict
hsluv
idna
imageio
imagesize
importlib-metadata
in-n-out
inquirer
ipykernel
ipython-genutils
ipython
itsdangerous
jedi
jinja2
jinxed
jmespath
joblib
jsonpointer
jsonref
jsonschema
jsonschema[format-nongpl]
jsonschema[format]
jupyter-client
jupyter-core
jupyter-events
jupyter-server-terminals
jupyter-server
jupyterlab-pygments
kiwisolver
lazy-loader
lightning-cloud
lightning-utilities
lightning
locket
magicgui
markdown-it-py
markupsafe
matplotlib-inline
matplotlib
mdurl
mistune
monotonic
mpmath
msgpack
multidict
mypy-extensions
napari-console
napari-plugin-engine
napari-svg
napari[pyqt5]
nbclassic
nbclient
nbconvert
nbformat
neptune
nest-asyncio
networkx
notebook-shim
notebook
npe2
numpy
numpydoc
oauthlib
opencv-python-headless
ordered-set
overrides
packaging
pandas
pandocfilters
parso
partd
pexpect
pickleshare
pillow
pint
platformdirs
prometheus-client
prompt-toolkit
psutil
psygnal
ptyprocess
pure-eval
pycparser
pydantic==1.10.13
pydantic[dotenv]==1.10.13
pygments
pyjwt
pyopengl
pyparsing
pyproject-hooks
pyqt5-qt5
pyqt5-sip
pyqt5
pyrsistent
python-dateutil
python-dotenv
python-editor
python-json-logger
python-multipart
pytomlpp
pytorch-lightning
pytz
pywavelets
pywin32
pywinpty
pyyaml
pyzmq
qtconsole
qtpy
qudida
readchar
requests-oauthlib
requests
rfc3339-validator
rfc3986-validator
rfc3987
rich
s3transfer
scikit-image
scikit-learn
scipy
send2trash
setuptools
simplejson
six
smmap
sniffio
snowballstemmer
soupsieve
sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stack-data
starlette
starsessions
strict-rfc3339
superqt
swagger-spec-validator
sympy
terminado
threadpoolctl
tifffile
tinycss2
tomli
toolz
torch
torchinfo
torchmetrics
torchvision
tornado
tqdm
traitlets
typer
typing-extensions
tzdata
urllib3
uvicorn
vispy
wcwidth
webcolors
webencodings
websocket-client
websockets
wrapt
yarl
zipp
